.layout{
    display: flex;
    
    width: 95%;
}

.customer{
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .About{
     padding: 1rem;
     padding-left: 2.5rem;
 }



 .About h2{
    color: #4d4d4d;;
     font-size: 3rem;
 }

 .About p{
    color: #4d4d4d;;
     line-height: 1.8rem;
     font-size: 1.2rem;
     font-weight: 500;
 }

 @media(max-width: 1410px){
    .layout{
        flex-direction: column-reverse;
      
    }
 
  
  }

  @media(max-width: 860px){
    .display{
        width: 95%;
    }
 
  
  }

  