.picture{
   
    background-image: url("../../static/back.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    
    min-height: 125vh;
    width: 100%;
    
}



.buttonn{
    padding: 15px;
    background-color: transparent;
    color:  #e6e6e6;
   border: none;
    background-color: #33adff;
    font-weight: 700;
    width: 9em;
    align-self: flex-end;
    margin-right: 15%;
}
.card{
    margin-left: 3rem;

    color: #4d4d4d;;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   padding: 2em;
   width: 45%;
   line-height: 3.5rem;
   animation-name:appearFromBottom;
   animation-duration: 2s;
   
   
}
@keyframes appearFromBottom {
    0% {
     opacity: 0;
     transform: translateY(-10rem);
    }
    100% {
     opacity: 1;
     transform: translateY(0);
    }
  }

  @media(max-width: 1260px){
    .card{
        width: 60%;
    }
 
  
  }
  
  @media(max-width: 860px){
    .card{
        width: 80%;
    }
 
  
  }